button {
    background-color: transparent;
    color: white;
    border-radius: 60px;
    border: 3px solid white;
    cursor: pointer;
    margin-right: 10px;
    padding: 30px;
}

body {
    background-color: black;
    color: white;
}

.img-button {
    height: 50px;
    width: 50px;
}

.c {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
